@import url(components/button.css);
@import url(components/table.css);
@import url(components/combobox.css);
@import url(components/icon.css);
@import url(layout/header.css);
@import url(layout/sidebar.css);
@import url(layout/main-content.css);
@import url(pages/employee.css);
@import url(components/form.css);
/* @import url(components/spinner.css); */
/* @import url(components/skeleton-loader.css); */

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.container {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}
:root {
    /* Colors */
    --sidebar-color: #041434;
    --sidebar-text-color: #869AB8;
    --sidebar-text-color-hover: #FFFFFF;
    --menu-color-hover: #A7C4FF;

    /* Transition */
    --tran-03: all 0.3s ease;
}