.container {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.child {
    display: flex;
    column-gap: 10px;
    row-gap: 10px;
    width: 600px;
    height: 500px;
    background-color: antiquewhite;
    justify-content: space-evenly;
    align-items: center;
}
.item {
    width: 100px;
    height: 100px;
    background-color: black;
   
}
#myForm1 {
    display: none;
    width: 650px;
    height: 650px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 3px solid #f1f1f1;
    z-index: 9;
    background-color: white;
    padding: 32px;
    border-radius: 10px;
}
