header {
    width: 100vw;
    height: 56px;
    background-color: red;
    float: left;
}

nav {
    width: 200px;
    height: calc(100vh - 56px);
    background-color: blue;
    float: left;
}

.main {
    width: calc(100% - 200px);
    /* vw: bao gom ca cai scrown */
    height: calc(100vh - 56px);
    background-color: aqua;
    float: left;
    clear: left;
    /* loai bo thuoc tinh float */
}
