.container {
    display: grid;
    grid-template-rows: 56px calc(100vh - 56px);
    grid-template-columns: 200px calc(100% - 200px);
}

header {
    background-color: red;
    grid-column-start: 1;
    grid-column-end: 3;
}

nav {
    background-color: blue;
}

.main {
    background-color: aqua;
}
