select {
    cursor: pointer;
    height: 36px;
}
.header-combobox-container {
    min-width: 100px;
    padding-left: 24px;
}
#cbbRowNumber {
    width: auto;
}
.header-combobox-container select{
    font-size: 16px;
    width: 100%;
    height: 36px;
    padding: 0 12px;
    border-radius: 4px;
    border: none;
}
#cbbRowNumber select {
    font-size: 16px;
    width: 100%;
    height: 36px;
    padding: 0;
    border: none;
}
#cbbRowNumber select {
    font-weight: bold;
}
.header-combobox-container select:focus {
    outline: none; 
}

#cbbRowNumber select:focus {
    outline: none;
}
/* Combobox trong form */ 
select.cbbPosition, select.cbbDepartment {
    height: 36px;
    padding: 0 6px;
    box-sizing: border-box;
    border: 1px solid #e0e0e0;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    border-radius: 4px;
    line-height: 36px;
    outline: none;
} 
select.cbbDepartment:focus, select.cbbPosition:focus {
    border-color: #50b83c;
}
select.cbbDepartment:hover, select.cbbPosition:hover {
    background-color: #e6e6e6;
}
