.form-popup {
    visibility: hidden;
    position: fixed;
    top: 0;
    background-color: #00000085;
    width: 100%;
    height: 100vh;
} 
.form-container {
    width: 900px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 32px;
} 
#btnCloseDialog {
    filter: brightness(0) saturate(100%) invert(25%) sepia(100%) saturate(7500%) hue-rotate(0deg) brightness(100%) contrast(100%);
}
.form-content {
    width: 100%;
}
.form-heading h2{
    margin: 0 0 32px 0;
}
.text-red {
    color: red;
}
.vertical-alignment > label{
    padding-bottom: 8px;
}
.vertical-alignment {
    display: flex;
    flex-direction: column;
    padding-bottom: 24px;
    width: 100%;
}
.padding-no {
    padding: 0;
}
.padding-right {
    padding-right: 8px;
}
.horizontal-alignment {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.form-container-button {
    float: right;
    margin-top: 32px;
}
.form-container-button .btn-green {
    margin-left: 12px;
}
.form-control > .horizontal-alignment > .vertical-alignment:first-child {
    padding-right: 24px;
}
.form-control input {
    height: 36px;
    padding: 0;
    border: 1px solid #E0E0E0;
    border-radius: 4px;
    font-family: 'Roboto', sans-serif;
}
input[type="date"] {
    padding: 0 8px 0 12px;
    box-sizing: border-box;
}
input[type="radio"] {
    margin: 0 8px;
}

