.icon {
  width: 24px;
  height: 24px;
  /* padding: 2px; */
}
.avt {
  padding: 0 16px;
}
.ellipsis-h {
  padding: 0 16px;
  cursor: pointer;
}
.menu li img {
  margin: 0 12px;
}
.icon1 {
  width: 16px;
  height: 16px;
}
.btnCloseDialog img {
  filter: brightness(0) saturate(100%) invert(25%) sepia(100%) saturate(7500%)
    hue-rotate(0deg) brightness(100%) contrast(100%);
}
.btn-img {
  margin-right: 4px;
}