.icon {
    width: 24px;
    height: 24px;
    /* padding: 2px; */
}
.avt {
    padding: 0 16px;
}
.ellipsis-h {
    padding: 0 16px;
}
.menu li img {
    margin: 0 12px;
}
#btnCloseDialog {
    color: red; 
    float: right;
}
.icon1 {
    width: 16px;
    height: 16px;
}