#tblEmployee {
  border-top: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
  overflow: auto;
  width: 100%;
  height: calc(100% - 112px);
  position: relative;
}
#tblEmployee table {
  display: table;
  width: 100%;
  border-collapse: collapse;
}
#tblEmployee thead th {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #f5f5f5;
  height: 48px;
  border-bottom: 1px solid #e0e0e0;
  border-right: 1px solid #e0e0e0;
  border-left: 1px solid #e0e0e0;
  padding: 0 8px;
  text-align: left;
  box-sizing: border-box;
  white-space: nowrap;
}
#tblEmployee table tr {
  box-sizing: border-box;
  display: table-row;
}
#tblEmployee table td {
  height: 48px;
  border: 1px solid #e0e0e0;
  padding: 0 8px;
  text-align: left;
  line-height: 48px;
  box-sizing: border-box;
  /* Prevents text from wrapping */
  white-space: nowrap;
}
#tblEmployee table th:hover {
  background-color: #eeeeee;
  cursor: pointer;
}
#tblEmployee tbody tr:hover {
  background-color: #f1ffef;
  cursor: pointer;
}
.column-ordinal-number {
  width: 10%;
}
.column-id {
  width: 10%;
}
.column-name {
  width: 15%;
}
.column-gender {
  width: 10%;
}
#tblEmployee thead th.column-birthday,
#tblEmployee tbody td:nth-child(5) {
  width: 10%;
  text-align: center;
}
.column-email {
  width: 20%;
}
.column-address {
  width: 25%;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px #eeeeee;
}
::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px #bdbdbd;
}
/* Tổng số bản ghi */
#total {
  padding-left: 3px;
}
